@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Silkscreen&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color: #85C485;
    height: 100%;
}
header{
    background-color: green;
}
.logo{
    color: white;
    width: 100vh;
    height: 100px;
}
.logo h1{
    font-size: 70px;
    font-family: 'Silkscreen', cursive;
}
.navegacion a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    font-family: 'Silkscreen', cursive;
}
.navegacion li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#85C485;
    text-align:center;
    color:#fff;
}
.navegacion li:hover{
    background-color:#fff;
    color:#000;
}
.contenido{
    height: 700px;
    padding: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.contenido h2{
    color: white;
    width: 100%;
    font-size: 40px;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: center;
    background-color: green;
}
.contenido h3{
    color: black;
    width: 100%;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: center;
    background-color: rgba(123, 170, 123, 0.69);
}
.contenido p{
    width: 100%;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: 'Anek Devanagari', sans-serif;
}
.contenido table{
    width: 100%;
}
#tutoriales{
    border: 2px solid black;
}
#tutoriales p{
    background-color: green;
    color: white;    
}
.contenido form{
    font-family: 'Anek Devanagari', sans-serif;
}
footer{
    height:50px;
    line-height:50px;
    background:green;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    font-family: 'Anek Devanagari', sans-serif;
}